.env
__pycache__/
venv/
chroma_db/
test_api.py
db_test.py
duck_test.py
dump.py
test_db.py
test_macros.py
test_progress_tracker.py
test_progress.py
test_wo.py
test.py
trainer.duckdb
orch_test.py
extra
food_output.csv
query_output.csv
wo_output.csv
main_Temp.py
sample_data.py
temp_main.py
orch_try.py
rag_pipeline.py
query_service_prog.py
hide