fastapi
uvicorn[standard]
pydantic

faiss-cpu
duckdb
pandas
numpy

# For LLMs
openai
google-genai

# Mongo
pymongo

# Embedding / ML
python-dotenv
fastembed 

# JWT
python-jose[cryptography]
python-multipart
passlib[bcrypt]
